.about {
    padding: 46px 15px;
    width: 100%;
    background-color: #F4F5F7;
}

.article {
    &:last-child {
        margin-top: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        margin: 0;
    }

    &__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 0;
        margin-top: 6px;
    }
}

@media screen and (min-width: 400px) {
    .about {
        display: flex;
        justify-content: space-between;
        padding: 77px 131px 76px 130px;
    }
    
    .article {
        width: 555px;
    }

    .article:last-child {
        margin-top: 0px;
    }
}

