.audinece {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 50px 15px 50px 15px;
  color: $color-dark;
  background-color: rgba(0, 161, 198, 0.3);
  text-align: center;
  width: 100%;

  &__visitors {
    margin-bottom: 17px;
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;

    @include for-large-up {
      width: 168px;
      margin-bottom: 24px;
    }
  }

  &__understand {
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;

    @include for-large-up {
      width: 555px;
      margin-bottom: 30px;
    }
  }

  &__early-stage-company {
    margin-bottom: 30px;
    text-align: center;

    @include for-large-up {
      margin-bottom: 34px;
      width: 555px;
    }
  }

  &__get-started-button {
    background-color: $button-color;
    box-shadow: $box-shadow-white-color;
    border-radius: 2px;
    width: 100%;
    line-height: 48px;
    color: $white-color;
    font-weight: 700;

    @include for-large-up {
      width: 160px;
      margin-right: 10px;
    }
  }

  &__learn-more-button {
    margin-top: 12px;
    background-color: $white-color;
    box-shadow: $box-shadow-white-color;
    border-radius: 2px;
    width: 100%;
    line-height: 48px;
    font-weight: 700;

    @include for-large-up {
      margin-top: 0;
      width: 158px;
    }
  }

  &__developers {
    margin-top: 40px;
    width: 100%;
    height: 300px;
    background-color: $white-color;
    box-shadow: $box-shadow-white-color;
    border-radius: 8px;

    @include for-large-up {
      margin-top: 15px;
    }
  }

  &__developers-picture {
    margin: 22px 76px 22px 76px;
  }

  &__developers-text {
    margin-bottom: 33px;
    line-height: 28px;
    font-size: 22px;
    font-weight: 700;
  }

  &__entertainment {
    margin-top: 15px;
    width: 100%;
    height: 300px;
    background-color: $entertainment-mobile-color;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
    border-radius: 8px;

    @include for-large-up {
      margin-left: 30px;
    }
  }

  &__entertainment-picture {
    margin: 22px 74px 22px 74px;
  }

  &__entertainment-text {
    margin-bottom: 33px;
    line-height: 28px;
    font-size: 22px;
    font-weight: 700;
    color: $white-color;
  }

  &__athletes {
    margin-top: 15px;
    width: 100%;
    height: 300px;
    background-color: $white-color;
    box-shadow: $box-shadow-white-color;
    border-radius: 8px;

    @include for-large-up {
      margin-left: 30px;
    }
  }

  &__athletes-picture {
    margin: 22px 65px 22px 65px;
  }

  &__athletes-text {
    margin-bottom: 33px;
    line-height: 28px;
    font-size: 22px;
    font-weight: 700;
  }

  &__creators {
    margin-top: 15px;
    width: 100%;
    height: 300px;
    background-color: $white-color;
    box-shadow: $box-shadow-white-color;
    border-radius: 8px;

    @include for-large-up {
      margin-left: 30px;
    }
  }

  &__creators-picture {
    margin: 22px 100px 22px 81px;
  }

  &__creators-text {
    margin-left: 25px;
    margin-right: 53px;
    margin-bottom: 33px;
    line-height: 28px;
    font-size: 22px;
    font-weight: 700;
  }
}

@include for-large-up {
  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .buttons-container {
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .audience-container {
    display: flex;
    flex-direction: row;
    margin: 111px 131px 110px 130px;
  }
}
