.action-button {
    background-color: #3040C4;
    color: #fff;
    width: 160px;
    height: 48px;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
}