/* Error: Undefined mixin.
 *   ,
 * 7 | /   @include for-large-down {
 * 8 | |     display: none;
 * 9 | \   }
 *   '
 *   features.scss 7:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 7 \2502  \250c    @include for-large-down {\a 8 \2502  \2502      display: none;\a 9 \2502  \2514    }\a   \2575 \a   features.scss 7:3  root stylesheet";
}
