$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-blue: #3142c6;
$color-light: #f4f5f7;
$color-dark: #2b292d;
$border-color: #2b292d33;
$button-color: #3040C4;
$entertainment-mobile-color: #3141C5;
$white-color: #ffffff;